h1 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 30pt;
  color: #0b215b;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  border: 10pt
}

t1 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26;
  color: white;
  margin-bottom: 0;
  line-height: 30pt;
  padding-right: 5pt;
  padding-top: 5pt;
  border: 10pt
}

h2 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 25pt;
  color: #0b215b;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  border: 10pt
}

h3 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 25pt;
  color: #0b215b;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  border: 10pt
}

h4 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: #593d87;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  text-indent: 5pt;
  margin-left: 40;
  margin-right: 40;
  
}

a {
  text-align: center;
  color: #0b215b;
}
a:link {
  color: #0b215b;
}
a:visited {
  color: #0b215b;
}
a:hover {
  color: #211d7a;
}

div.option {
  color: #003d87;
}

div.footer {
  font-size: 9pt;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

div.formlabel {
	font-weight: bold;
	width: 250px;
	margin-bottom: 20px;
	float: left;
	text-align: left;
	clear: left;
}

div.formfield {
	font-weight: normal;
	margin-bottom: 20px;
 	float: left;
 	text-align: left;
}

input, textarea, select {
	border: 1px solid black;
}

span.spec {
	font-size: 8pt;
	font-style: italic;
}